.WeatherViewDiv {
    min-width: 300px;
    min-height: 300px;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.SearchForm {
    display: table;
    margin: auto;
    text-align: center;
}
