.App {
  text-align: center;
}

.Main-div {
    background-image: url("/img/clouds_large.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}